<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>
          Digital World Recipes
        </h1>
        <h3>
            Access your recipes from anywhere
        </h3>

        <a [routerLink]="['/account/register']">
          <button class="btn btn-success btn-lg">Get Started</button>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="section container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="heading">
        Features
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-4" style='text-align: center'>
        <div class='glyphicon-ring'>
          <span class="glyphicon glyphicon-book"></span>
        </div>
        <h4 class='feature'>Recipe Book</h4>
        <p class="text-muted">
          Store your favorite recipes for convenient access.
        </p>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</div>
