<div class="row">
  <div class="col-xs-12">
    <img [src]="detail.imagePath" alt="{{detail.name}" style='max-height: 200px;' class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{detail.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="button-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <!--<li>
          <a style='cursor:pointer;' (click)="addToList()">To Shopping List</a>
        </li>-->
        <li>
          <a style='cursor:pointer;' (click)="onEdit()">Edit Recipe</a>
        </li>
        <li>
          <a style='cursor:pointer;' (click)="onDelete()">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-xs-12">
    {{detail.description}}
  </div>
</div>

<br />

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of detail.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
